@font-face {
  font-family: "Helvetica HERO Medium";
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Md.eot");
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Md.eot?#iefix") format("embedded-opentype"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Md.woff") format("woff"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Md.ttf") format("truetype"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Md.svg#HelveticaNeueLight") format("svg"); }
@font-face {
  font-family: "Helvetica HERO Bold";
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Bd.eot");
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Bd.eot?#iefix") format("embedded-opentype"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Bd.woff") format("woff"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Bd.ttf") format("truetype"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Bd.svg#HelveticaNeueLight") format("svg"); }
@font-face {
  font-family: "Helvetica HERO Light";
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Lt.eot");
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Lt.eot?#iefix") format("embedded-opentype"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Lt.woff") format("woff"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Lt.ttf") format("truetype"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/HelveticaNeuePro-Lt.svg#HelveticaNeueLight") format("svg"); }
@font-face {
  font-family: "Museo 100";
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-100.eot");
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-100.eot?#iefix") format("embedded-opentype"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-100.woff") format("woff"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-100.ttf") format("truetype"); }
@font-face {
  font-family: "Museo 300";
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-300.eot");
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-300.eot?#iefix") format("embedded-opentype"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-300.woff") format("woff"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-300Italic.ttf") format("truetype"); }
@font-face {
  font-family: "Museo 500";
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-500.eot");
  src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-500.eot?#iefix") format("embedded-opentype"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-500.woff") format("woff"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-500.ttf") format("truetype"); }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  padding: 0;
  margin: 0;
  font-size: 10px !important;
  min-width: 0 !important; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-size: 10px; }

button[type="submit"], .state-button {
  border: 1px solid #d0021b;
  text-align: center;
  background: none;
  font-size: 1.4rem;
  line-height: 20px;
  height: 40px;
  text-transform: uppercase;
  font-family: "Museo 100", sans-serif;
  color: #d0021b;
  transition: all 0.15s ease-in-out;
  display: block;
  width: 100%; }
  button[type="submit"]:hover, .state-button:hover {
    border: 1px solid #d0021b;
    background: #d0021b;
    color: #fff; }
  button[type="submit"].inverse, .state-button.inverse {
    background: #d0021b;
    color: #fff; }
  button[type="submit"].blue-button, .state-button.blue-button {
    background: #0099cc;
    border: 1px solid #0099cc;
    color: #fff; }
    button[type="submit"].blue-button:hover, .state-button.blue-button:hover {
      background: #007399;
      border: 1px solid #0099cc, 10; }

.primary-button {
  display: block;
  background-color: #d0021b;
  outline: 0;
  border: 0;
  width: 100%;
  height: 36px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Museo 100", sans-serif;
  color: #fff;
  transition: background-color 0.15s ease-in-out;
  margin: 10px auto; }
  .primary-button:hover {
    background-color: #fd0826;
    cursor: pointer; }
  .primary-button.small {
    max-width: 100px; }
  .primary-button.medium {
    max-width: 150px; }
  .primary-button.large {
    max-width: 200px; }
  .primary-button.blue-button {
    background: #0099cc;
    border: 1px solid #0099cc;
    color: #fff; }
    .primary-button.blue-button:hover {
      background: #007399;
      border: 1px solid #0099cc, 10; }

.hero-news-module {
  font-family: "Museo 300", sans-serif;
  background: #f9f9f9; }
  .hero-news-module .primary-button.blue-button.large {
    margin: 8rem auto; }
  .hero-news-module .hero-banner-news {
    text-align: center;
    font-family: "Museo 100", sans-serif;
    padding-top: 8rem;
    padding-bottom: 4rem;
    max-width: 78rem;
    margin-left: auto;
    margin-right: auto; }
    .hero-news-module .hero-banner-news h2 {
      font-size: 2.4rem;
      line-height: 3.2rem;
      color: #064871; }
    .hero-news-module .hero-banner-news p {
      font-size: 1.6rem;
      line-height: 2.8rem;
      color: #706e6e; }
    @media (min-width: 768px) {
      .hero-news-module .hero-banner-news h2 {
        font-size: 3.6rem;
        line-height: 5.5rem; }
      .hero-news-module .hero-banner-news p {
        line-height: 3rem;
        font-size: 1.8rem; } }
  .hero-news-module .ra-flexbox {
    display: block; }
    @media (min-width: 768px) {
      .hero-news-module .ra-flexbox {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row-wrap;
        -ms-flex-flow: row-wrap;
        flex-flow: row-wrap;
        overflow: hidden;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    .hero-news-module .ra-flexbox .story-holder {
      color: #4f5c60;
      padding-bottom: 4.5rem;
      border: 1px solid #e3e3e3;
      background: #fff;
      max-width: 330px;
      width: 94%;
      margin: 0 auto;
      -webkit-flex: 0 0 28%;
      -ms-flex: 0 0 28%;
      flex: 0 0 28%; }
      .hero-news-module .ra-flexbox .story-holder:first-child {
        display: block; }
      .hero-news-module .ra-flexbox .story-holder:nth-child(2), .hero-news-module .ra-flexbox .story-holder:nth-child(3) {
        display: none; }
      @media (min-width: 768px) {
        .hero-news-module .ra-flexbox .story-holder {
          -webkit-flex: 0 0 48%;
          -ms-flex: 0 0 48%;
          flex: 0 0 48%; }
          .hero-news-module .ra-flexbox .story-holder:nth-child(2) {
            display: block; } }
      @media (min-width: 992px) {
        .hero-news-module .ra-flexbox .story-holder {
          -webkit-flex: 0 0 28%;
          -ms-flex: 0 0 28%;
          flex: 0 0 28%; }
          .hero-news-module .ra-flexbox .story-holder:nth-child(3) {
            display: block; } }
      .hero-news-module .ra-flexbox .story-holder h3, .hero-news-module .ra-flexbox .story-holder h4, .hero-news-module .ra-flexbox .story-holder p, .hero-news-module .ra-flexbox .story-holder a {
        padding: 0 20px 0; }
      .hero-news-module .ra-flexbox .story-holder h3 {
        font-family: "Museo 500", sans-serif;
        line-height: 3rem;
        font-size: 2.4rem;
        margin-bottom: 0.5rem; }
      .hero-news-module .ra-flexbox .story-holder h4 {
        font-family: "Museo 100", sans-serif;
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 3.5rem; }
      .hero-news-module .ra-flexbox .story-holder p {
        font-size: 1.8rem;
        line-height: 3.6rem; }
      .hero-news-module .ra-flexbox .story-holder a {
        font-size: 1.4rem;
        font-family: "Museo 300", sans-serif;
        line-height: 1.8rem;
        text-transform: uppercase;
        color: #4b92b2; }
        .hero-news-module .ra-flexbox .story-holder a:hover {
          text-decoration: none;
          color: #34667c; }
      .hero-news-module .ra-flexbox .story-holder img, .hero-news-module .ra-flexbox .story-holder a {
        display: block; }
      .hero-news-module .ra-flexbox .story-holder img {
        width: 100%;
        height: auto;
        display: block; }
      .hero-news-module .ra-flexbox .story-holder .ra-quote {
        margin: 0 2rem 3.5rem;
        max-width: 18px; }
      .hero-news-module .ra-flexbox .story-holder .ra-social-icon {
        margin: -30px 15px 0 0;
        padding: 0;
        float: right;
        max-width: 40px; }
      .hero-news-module .ra-flexbox .story-holder .video-thumb, .hero-news-module .ra-flexbox .story-holder .thumb {
        position: relative;
        margin-bottom: 3.5rem; }
        .hero-news-module .ra-flexbox .story-holder .video-thumb .video-thumb-play-button, .hero-news-module .ra-flexbox .story-holder .thumb .video-thumb-play-button {
          width: 6.5rem;
          height: 6.5rem;
          overflow: auto;
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border: 0; }
      .hero-news-module .ra-flexbox .story-holder .video-thumb:hover {
        opacity: 0.8;
        cursor: pointer; }
      .hero-news-module .ra-flexbox .story-holder.ng-enter {
        transition: opacity linear 1s;
        opacity: 0; }
      .hero-news-module .ra-flexbox .story-holder.ng-enter.ng-enter-active {
        opacity: 1; }
      .hero-news-module .ra-flexbox .story-holder.ng-enter-stagger {
        /* this will have a 100ms delay between each successive enter animation */
        transition-delay: 0.2s;
        /* in case the stagger doesn't work then these two values
           must be set to 0 to avoid an accidental CSS inheritance */
        transition-duration: 0s; }
  @media (min-width: 480px) {
    .hero-news-module .ra-hero-masonry .ra-item {
      width: 300px;
      margin: 0 15px 60px; } }
  @media (min-width: 768px) {
    .hero-news-module .ra-banner h1 {
      font-size: 4.5rem;
      line-height: 5.8rem; }
    .hero-news-module .ra-banner h3 {
      font-size: 2rem;
      line-height: 3rem; } }
  @media (min-width: 992px) {
    .hero-news-module .ra-hero-masonry .ra-item {
      width: 300px;
      margin: 0 40px 60px; }
    .hero-news-module .ra-banner h1 {
      font-size: 5rem;
      line-height: 6.2rem; }
    .hero-news-module .ra-banner h3 {
      font-size: 2.4rem;
      line-height: 3.6rem; } }

.hp-special-loader {
  font-size: 20px;
  margin: 5em auto 50%;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #49c, 2em -2em 0 0em #49c, 3em 0em 0 -0.5em #49c, 2em 2em 0 -0.5em #49c, 0em 3em 0 -0.5em #49c, -2em 2em 0 -0.5em #49c, -3em 0em 0 -0.5em #49c, -2em -2em 0 0em #49c; }
  12.5% {
    box-shadow: 0em -3em 0em 0em #49c, 2em -2em 0 0.2em #49c, 3em 0em 0 0em #49c, 2em 2em 0 -0.5em #49c, 0em 3em 0 -0.5em #49c, -2em 2em 0 -0.5em #49c, -3em 0em 0 -0.5em #49c, -2em -2em 0 -0.5em #49c; }
  25% {
    box-shadow: 0em -3em 0em -0.5em #49c, 2em -2em 0 0em #49c, 3em 0em 0 0.2em #49c, 2em 2em 0 0em #49c, 0em 3em 0 -0.5em #49c, -2em 2em 0 -0.5em #49c, -3em 0em 0 -0.5em #49c, -2em -2em 0 -0.5em #49c; }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #49c, 2em -2em 0 -0.5em #49c, 3em 0em 0 0em #49c, 2em 2em 0 0.2em #49c, 0em 3em 0 0em #49c, -2em 2em 0 -0.5em #49c, -3em 0em 0 -0.5em #49c, -2em -2em 0 -0.5em #49c; }
  50% {
    box-shadow: 0em -3em 0em -0.5em #49c, 2em -2em 0 -0.5em #49c, 3em 0em 0 -0.5em #49c, 2em 2em 0 0em #49c, 0em 3em 0 0.2em #49c, -2em 2em 0 0em #49c, -3em 0em 0 -0.5em #49c, -2em -2em 0 -0.5em #49c; }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #49c, 2em -2em 0 -0.5em #49c, 3em 0em 0 -0.5em #49c, 2em 2em 0 -0.5em #49c, 0em 3em 0 0em #49c, -2em 2em 0 0.2em #49c, -3em 0em 0 0em #49c, -2em -2em 0 -0.5em #49c; }
  75% {
    box-shadow: 0em -3em 0em -0.5em #49c, 2em -2em 0 -0.5em #49c, 3em 0em 0 -0.5em #49c, 2em 2em 0 -0.5em #49c, 0em 3em 0 -0.5em #49c, -2em 2em 0 0em #49c, -3em 0em 0 0.2em #49c, -2em -2em 0 0em #49c; }
  87.5% {
    box-shadow: 0em -3em 0em 0em #49c, 2em -2em 0 -0.5em #49c, 3em 0em 0 -0.5em #49c, 2em 2em 0 -0.5em #49c, 0em 3em 0 -0.5em #49c, -2em 2em 0 0em #49c, -3em 0em 0 0em #49c, -2em -2em 0 0.2em #49c; } }
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #49c, 2em -2em 0 0em #49c, 3em 0em 0 -0.5em #49c, 2em 2em 0 -0.5em #49c, 0em 3em 0 -0.5em #49c, -2em 2em 0 -0.5em #49c, -3em 0em 0 -0.5em #49c, -2em -2em 0 0em #49c; }
  12.5% {
    box-shadow: 0em -3em 0em 0em #49c, 2em -2em 0 0.2em #49c, 3em 0em 0 0em #49c, 2em 2em 0 -0.5em #49c, 0em 3em 0 -0.5em #49c, -2em 2em 0 -0.5em #49c, -3em 0em 0 -0.5em #49c, -2em -2em 0 -0.5em #49c; }
  25% {
    box-shadow: 0em -3em 0em -0.5em #49c, 2em -2em 0 0em #49c, 3em 0em 0 0.2em #49c, 2em 2em 0 0em #49c, 0em 3em 0 -0.5em #49c, -2em 2em 0 -0.5em #49c, -3em 0em 0 -0.5em #49c, -2em -2em 0 -0.5em #49c; }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #49c, 2em -2em 0 -0.5em #49c, 3em 0em 0 0em #49c, 2em 2em 0 0.2em #49c, 0em 3em 0 0em #49c, -2em 2em 0 -0.5em #49c, -3em 0em 0 -0.5em #49c, -2em -2em 0 -0.5em #49c; }
  50% {
    box-shadow: 0em -3em 0em -0.5em #49c, 2em -2em 0 -0.5em #49c, 3em 0em 0 -0.5em #49c, 2em 2em 0 0em #49c, 0em 3em 0 0.2em #49c, -2em 2em 0 0em #49c, -3em 0em 0 -0.5em #49c, -2em -2em 0 -0.5em #49c; }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #49c, 2em -2em 0 -0.5em #49c, 3em 0em 0 -0.5em #49c, 2em 2em 0 -0.5em #49c, 0em 3em 0 0em #49c, -2em 2em 0 0.2em #49c, -3em 0em 0 0em #49c, -2em -2em 0 -0.5em #49c; }
  75% {
    box-shadow: 0em -3em 0em -0.5em #49c, 2em -2em 0 -0.5em #49c, 3em 0em 0 -0.5em #49c, 2em 2em 0 -0.5em #49c, 0em 3em 0 -0.5em #49c, -2em 2em 0 0em #49c, -3em 0em 0 0.2em #49c, -2em -2em 0 0em #49c; }
  87.5% {
    box-shadow: 0em -3em 0em 0em #49c, 2em -2em 0 -0.5em #49c, 3em 0em 0 -0.5em #49c, 2em 2em 0 -0.5em #49c, 0em 3em 0 -0.5em #49c, -2em 2em 0 0em #49c, -3em 0em 0 0em #49c, -2em -2em 0 0.2em #49c; } }
